
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #B2BEB5;
    font-family: 'Arial', sans-serif;
    color: #000000;

        }        
        .question {
            margin-bottom: 20px;
        }
        input {
            margin: 5px 0;
        }
        button {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        .result {
            margin-top: 20px;
            font-weight: bold;
        }
