
body {
    margin: 0;
    padding: 0;
    display: flex;

    height: 100vh;
    background-color: #1b2631;
    font-family: 'Arial', sans-serif;
    color: white;

        }        
        .question {
            margin-bottom: 20px;
        }
        input {
            margin: 5px 0;
        }
        button {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        .result {
            margin-top: 20px;
            font-weight: bold;
        }
